<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>My Page</title>
</head>
<body>
<h1>마이페이지</h1>
<th:block th:if="${member != null}">
  <p><strong>Name:</strong> <span th:text="${member.name}"></span></p>
  <p><strong>Email:</strong> <span th:text="${member.email}"></span></p>
  <p><strong>Address:</strong> <span th:text="${member.address}"></span></p>
</th:block>
<th:block th:if="${member == null}">
  <p>로그인 후에 마이페이지를 확인할 수 있습니다.</p>
</th:block>

</body>
</html>
